.date-table{margin-left: 220px;width: 1000px;height : 500px;border-collapse:collapse;font-size:16px;font-family:Arial,宋体;float: left;}
.date-table .info-title-tr{height:26px;}
.date-table .week-tr{height:26px;border:1px solid #eb6864;background:#eb6864;color:#fff;}
.date-table .week-tr td{width:56px;height:26px;background:#eb6864;color:#fff;text-align:center;}
.date-table .date-tr td{padding:4px;height:27px;border:1px solid #ccc;vertical-align:top;}
.date-table .keyuyue-td{background:#eef7fe;cursor:pointer;}
.date-table .keyuyue-div{color:#3c8ab1;}
.date-table .yuyueyiman-td{color:#cfcfcf;}
.date-table .date-tr td span.today{color:#eb6864;}
.date-table .date-plus-tr .yibeiyuyue-span{color:#eb6864;}
.date-table .date-plus-tr td{position:relative;padding:4px;height:27px;border:1px solid #ccc;vertical-align:middle;text-align: center;}
.date-table .date-plus-tr{line-height:26px;}
.date-table .date-plus-tr input[type="checkbox"]{position:relative;top:3px;margin:0 20px 0 0;width:20px;height: 20px}
.date-table .confirm-anchor{position:absolute;top:12px;right:10px;width:47px;height:22px;border-radius:3px;background:#eb6864;color:#fff;text-align:center;text-decoration:none;line-height:22px;}
.date-table .date-tr .woyiyuyue-td{background:#eee;}
.date-table .woyiyuyue-td .woyiyuyue-div{color:#3c8ab1;}
.date-plus-tr{display:none;}
.nextM,.lastM{color:#000;text-decoration:none;}
.nextM:hover{text-decoration:underline;}
.clone span{margin:0 15px 0 0;}
.today{font-weight:bold;}
.order-info-div{width: 250px;height: 252px;font-size: 12px;float: left;border: 1px solid #ccc;margin-left: 20px;padding: 10px;}
.order-info-div p{margin: 0;font-family: Arial 宋体;}
.order-info-div p .orange{color: #eb6864;font-weight: bold;}